# Core numerical and scientific libraries
numpy
matplotlib
pandas

# Visualization libraries
plotly

# GPU acceleration libraries
torch
# triton (linux)
# cupy-cuda12x (linux)
#windows:
triton-windows
cupy-cuda12x
pynvml

# Progress and utilities
tqdm
# Testing frameworks
pytest
pytest-benchmark

# Jupyter support
ipykernel
jupyter
nbformat

# Development & packaging
setuptools
